<div class="container-fluid set-border">
   <div class="row">
        <!-- <div class="col-lg-12"> -->
            <div class="col-md-2">Logo</div>
            <div class="col-md-6">
                <ul class="rm-bullet flex-container">
                    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><li class="set-li text-white">Home</li></a>
                    <a routerLink="About" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><li class="set-li text-white">About</li></a>
                    <a routerLink="Contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><li class="set-li text-white">Contact</li></a>
                    
                </ul>
            </div>
            <div class="col-md-4 flex-container-signin">
                <a href="#">SignIn</a>
                <a href="#">SignUp</a>
            </div>
        <!-- </div> -->
   </div>
</div>